<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project - {%PROJECT_NAME%}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./../public/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="project_container">
            <div class="details">
                <h1>{%PROJECT_NAME%}</h1>
                <h3><span class="label">Source : </span>{%PROJECT_SOURCE%}</h3>
                <h3><span class="label">Client : </span>{%CLIENT_NAME%}</h3>
                <h3><span class="label">ID : </span>{%ID%}</h3>
                <h4><span class="label">Starting Date : </span>{%STARTING_DATE%}</h4>
                <h4><span class="label">Due Date : </span>{%DUE_DATE%}</h4>
            </div>
            <div class="technical_details">
                <p><span class="label">Developer : </span>{%DEVELOPER%}</p>
                <p><span class="label">Project Manager : </span>{%PROJECT_MANAGER%}</p>
                <p><span class="label">Platform : </span>{%PLATFORM%}</p>
                <p><span class="label">Theme : </span>{%THEME%}</p>
                <p><span class="label">Plugins : </span>{%PLUGINS%}</p>
                <p><span class="label">Status : </span>{%STATUS%}</p>
            </div>
        </div>
    </div>
</body>

</html>