<div class="card">
    <div class="details">
        <h1>{%PROJECT_NAME%}</h1>
        <h3>{%PROJECT_SOURCE%}</h3>
        <h3>{%CLIENT_NAME%}</h3>
        <h3>{%ID%}</h3>
        <h4>{%STARTING_DATE%}</h4>
        <h4>{%DUE_DATE%}</h4>
    </div>
    <div class="technical_details">
        <p>{%DEVELOPER%}</p>
        <p>{%PROJECT_MANAGER%}</p>
        <p>{%PLATFORM%}</p>
        <p>{%THEME%}</p>
        <p>{%PLUGINS%}</p>
        <p>{%STATUS%}</p>
    </div>
    <div class="card_link_wrapper">
        <a target="_blank" href="/project?id={%ID%}">
            <span>Detail</span>
        </a>
    </div>
</div>